<div class="above-footer">
    <a href="#"><i style="color: #86513f" class="social-icon fab fa-instagram"></i></a>
    <a href="#"><i style="color: #4267b2" class="social-icon fab fa-facebook"></i></a>
    <a href="#"><i style="color: #fffc00;" class="social-icon fab fa-snapchat"></i></a>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mt-5">
                    <h6 class="footer-title">CONTACT</h6>
                </div>
                <a href="#" class="footer-item">Message Us</a>
                <a href="#" class="footer-item">Give us a ring</a>
            </div>
            <div class="col">
                <div class="mt-5">
                    <div class="mt-5">
                        <h6 class="footer-title">ABOUT</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mt-5">
                    <h6 class="footer-title">HELP AND INFORMATION</h6>
                </div>
            </div>
        </div>
    </div>
</div>